/**
 * hanji-mediawiki
 * base.css
 * Navigation bars and overall layout
 * Jang Ryeol (ryeolj5911@gmail.com)
 */

/**
 * If the page is too narrow, menu becomes messy
 */
html, body {
	min-width:320px;
    background-color: #eee;
}

/**
 * Bootstrap navbar collapses by default.
 * Disable it.
 */
.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav {
    margin:0;
}

.navbar-right {
    float: right!important;
}

.navbar-header:after, .navbar-nav:before, #body-wrapper:before {
    display: none;
    content: "";
}

.navbar-header {
    margin-left: 0;
}

/**
 * Navigation Bar.
 */
#nav {
    background: #0053a1;
    min-height: 40px;
    border: none;
    margin-bottom:0;
}

#nav .navbar-form {
    margin:0;
}

.nav-dropdown {
    float: left;
    height: 40px;
}

.nav-dropdown > li {
    display: inline-block;
}

.nav-dropdown > li > a {
    color: #b6cfed;
    padding:1rem 1rem;
    transition: color 0.5s ease;
}

.nav-dropdown > li > a,
.nav-dropdown > li > a:hover,
.nav-dropdown > li > a:focus{
    background: none;
}

.nav-dropdown > .open > a,
.nav-dropdown > .open > a:hover,
.nav-dropdown > .open > a:focus {
    background-color: rgba(255,255,255,0.2);
}
.nav-dropdown > li > a:hover {
    color: #f2f9ff;
}
.nav-dropdown > li > p {
    padding:0.2rem;
    color: #b6cfed;
}

#nav .logo-desktop {
    height: 35px;
}

#nav .dropdown {
    margin: 0;
}

.navbar-brand {
    height:40px;
    padding:5px 0 0 0;
    margin-left:0 !important;
    margin-right:2rem;
}
.navbar-brand > img {
    width:35px;
    height:35px;
    display:inline-block !important;
}

.navbar-brand > span{
    color:#fff;
    display:inline-block;
}

@media (max-width:991px) {
	.navbar-brand {
		margin-right : 0;
	}
	.nav-dropdown {
		margin-left : 1rem;
	}
}

/**
 * Search box
 */

.search-box {
    width: 270px;
}

.form-group {
    margin:0;
}

#searchInput {
    display: inline-block;
    width: 220px;
	height: 40px;
    border-radius:0;
}

#searchBtn {
    float:right;
    width: 50px;
    height: 40px;
    border-radius:0;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
}

@media (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .search-box {
        width: calc(100% + 30px);
        margin: 0 -15px !important;
    }

    #searchInput {
        width: calc(100% - 50px);
    }
}

pre {
	white-space:pre;
	overflow-x:auto;
}


/* Page layout */
#body-wrapper {
    padding:4rem 3rem;
    background-color: #fff;
}

.firstHeading {
    margin-top:0;
    padding-top:0;
    border-bottom: none;
}

.mw-headline-number {
	font-weight:bold;
	color: #0053a1;
}

img {
    max-width:100%;
    height:auto;
}

#mw-content-text {
    margin-top:4rem;
}

.body-dropdown {
    float:right;
}

.body-dropdown-wrapper {
    position:relative;
    width:400px;
    height:40px;
    float: right;
}

.postedit {
    top: 100px !important;
}

@media (max-width: 991px) {
    #body-wrapper {
        padding: 0 0 3rem 0;
    }

	.firstHeading {
		margin-left: 2rem;
	}

	.mw-body-content {
		padding: 0 1rem;
	}

	#mw-footer .row {
		margin: 0;
		padding: 0;
		max-width: 100%;
		padding: 0 1rem;
	}

	#mw-footer ul {
		margin-left: 0;
	}

    .body-dropdown-wrapper {
        width:100%;
        float: none;
        margin-bottom: 3rem;
    }

	.body-dropdown-wrapper button {
		height:40px;
		border-radius: 0;
	}
}

.mw-label label {
    margin: 0.5rem 2rem 0.5rem 0;
}

.htmlform-tip {
    font-size:1.2rem;
    color:#444;
}

fieldset {
    margin-bottom: 3rem;
}

fieldset tr {
    margin: 1rem 0;
}

@media (max-width: 767px) {
    fieldset td {
        display:block;
        text-align: left !important;
        width:auto !important;
    }
}

.mw-body-content ul {
    list-style-type: disc;
}

#toc ul {
    list-style-type: none;
}

.mw-search-profile-tabs div.search-types ul {
    list-style-type: none;
}

#mw-footer ul {
    list-style-type: none;
}

/* Bootstrap overlapping */
code {
    color: black;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px 4px;
}

/* Markdown Extension */
pre code {
	border: none;
}

.hljs {
	background: none !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.mw-body .external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url('images/external-link-ltr-icon.png');
    background-image: url('images/external-link-ltr-icon.svg');
    padding-right: 13px;
}

pre {
    margin: 10px 0;
}

div.toc {
    margin-top: 50px;
}

